body {
    margin: 0;
    
    background-color: #07111c;

    background-image:
        linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px),
        linear-gradient(rgba(212,175,55,0.08) 2px, transparent 2px),
        linear-gradient(90deg, rgba(212,175,55,0.08) 2px, transparent 2px);

    background-size:
        24px 24px,
        24px 24px,
        120px 120px,
        120px 120px;

    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
}
.nav {
    background:
        linear-gradient(
            90deg,
            rgba(120,0,0,0.18),
            rgba(5,10,18,0.94) 25%,
            rgba(5,10,18,0.94) 75%,
            rgba(212,175,55,0.10)
        );

    border-bottom: 2px solid #d4af37;
    box-shadow: 0 0 12px rgba(212,175,55,0.18);

    padding: 20px;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav a {
    color: #ff1a1a;
    margin: 0 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #ffd700;
}

.nav a.active {
    color: #ffd700;
    text-decoration: underline;
}

.content {
    text-align: center;
    padding: 60px 20px;
}

.box {
    border: 1px solid #d4af37;
    padding: 20px;
    width: 60%;
    max-width: 900px;
    margin: 40px auto;
}

h1 {
    color: #ff1a1a;
}

p {
    color: #ccc;
}
.project {
    border: 1px solid #d4af37;
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    max-width: 900px;
    text-align: left;
}

.project h2 {
    color: #ffd700;
}

.project p {
    color: #ccc;
}
.project a {
    color: #ffd700;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
